<ion-tabs>

  <ion-tab-bar ion-button color="danger" round outline slot="bottom">
    <ion-tab-button tab="breeds">
      <ion-icon name="paw-outline"></ion-icon>
      <ion-label style="color: black;">TODAS LAS RAZAS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="breed">
      <ion-icon name="paw"></ion-icon>
      <ion-label style="color: black;">SUB-RAZAS</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="random">
      <ion-icon name="paw"></ion-icon>
      <ion-label style="color: black;">IMAGEN A</ion-label>
    </ion-tab-button>

    
  </ion-tab-bar>

</ion-tabs>
