<ion-header>
  <ion-toolbar>
    <ion-title style="color: black;background-color: forestgreen;">RAZAS</ion-title>
  </ion-toolbar>
</ion-header>
<ion-card>
  <img src="assets/img/3.png"/>
</ion-card>

  <ion-content>
    <app-list [obtenApi] = "breeds" [icon] = "iconname"></app-list>
    <!--<ion-grid>
      <ion-row>
        <ion-col size = "12" size-md = "6" size-lg = "4" *ngFor = "let item of breeds?.message " >
          <ion-list>
           <ion-item>
             <ion-label>{{item}}</ion-label>
           </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>-->
    </ion-content>

